/node_modules
/public/astolfo
/public/docs
/public/hot
/public/build
/public/storage
/storage/*.key
/vendor
.env
.env.backup
/.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
