@import "https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    .text-muted {
        @apply text-gray-500;
    }

    [x-cloak] {
        display: none !important;
    }

}

@layer utilities {
    .image-rendering-none {
        image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: pixelated;
        image-rendering: optimize-contrast;
    }
}

@layer components {
    /**
    * Inputs
    */
    .label-required:after {
        @apply text-red-600;

        content: '*';
    }
}