@import "https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap";

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
    font-family: 'Nunito', sans-serif;
}

a {
    @apply text-pink-600;
}
a:hover {
    @apply text-pink-700 underline;
}

.btn {
    @apply inline-block py-2 px-3 border border-gray-800 text-black rounded no-underline;
}
.btn:hover {
    @apply transition-all duration-200 text-white bg-gray-800 no-underline;
}
.btn:focus {
    @apply outline-none shadow-outline-gray-900;
}

p {
    @apply pt-1 pb-2;
}

.img-fluid {
    max-height: 400px
}
